/.idea
/.pytest_cache
/.ipynb_checkpoints
/*/.ipynb_checkpoints
/*/.idea
/*/.pytest_cache
/*/__pycache__
/S11_Modules/Converted_jpg_images
/S11_Modules/Converted_png_images
/S11_Modules/Cropped_images
/S11_Modules/Resized_images
/S11_Modules/Sample_Images
/S11_Modules/Sample_Images_Crop_Test
/S11_Modules/Val_Images